body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.sites {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 240px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.ionic{
    background: #296AD4;
    padding: 30px;
}

.dark{
    background: #444;
}

.site img {
    max-width: 100%;
    max-height: 100%;
}

.site {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.fork {
    text-align: center;
    font-size: 12px;
    margin: 40px;
}

.fork a {
    color: #aaf;
}